		#container-background {
		  position:relative;
		  height:100%;
		  width:100%;
		}
		#container-background img {
		  position:absolute;
		  left:0;
		  height:100%;
		  width:100%;
		}

		@-webkit-keyframes imgFade {
		 0% {
		   opacity:1;
		 }
		 17% {
		   opacity:1;
		 }
		 25% {
		   opacity:0;
		 }
		 92% {
		   opacity:0;
		 }
		 100% {
		   opacity:1;
		 }
		}

		@-moz-keyframes imgFade {
		 0% {
		   opacity:1;
		 }
		 17% {
		   opacity:1;
		 }
		 25% {
		   opacity:0;
		 }
		 92% {
		   opacity:0;
		 }
		 100% {
		   opacity:1;
		 }
		}

		@-o-keyframes imgFade {
		 0% {
		   opacity:1;
		 }
		 17% {
		   opacity:1;
		 }
		 25% {
		   opacity:0;
		 }
		 92% {
		   opacity:0;
		 }
		 100% {
		   opacity:1;
		 }
		}

		@keyframes imgFade {
		 0% {
		   opacity:1;
		 }
		 17% {
		   opacity:1;
		 }
		 25% {
		   opacity:0;
		 }
		 92% {
		   opacity:0;
		 }
		 100% {
		   opacity:1;
		 }
		}

		#container-background img {
		  -webkit-animation-name: imgFade;
		  -webkit-animation-timing-function: ease-in-out;
		  -webkit-animation-iteration-count: infinite;
		  -webkit-animation-duration: 15s;

		  -moz-animation-name: imgFade;
		  -moz-animation-timing-function: ease-in-out;
		  -moz-animation-iteration-count: infinite;
		  -moz-animation-duration: 15s;

		  -o-animation-name: imgFade;
		  -o-animation-timing-function: ease-in-out;
		  -o-animation-iteration-count: infinite;
		  -o-animation-duration: 15s;

		  animation-name: imgFade;
		  animation-timing-function: ease-in-out;
		  animation-iteration-count: infinite;
		  animation-duration: 15s;
		}
		#container-background img:nth-of-type(1) {
		  -webkit-animation-delay: 13s;
		  -moz-animation-delay: 13s;
		  -o-animation-delay: 13s;
		  animation-delay: 13s;
		}
		#container-background img:nth-of-type(2) {
		  -webkit-animation-delay: 11s;
		  -moz-animation-delay: 11s;
		  -o-animation-delay: 11s;
		  animation-delay: 11s;
		}
		#container-background img:nth-of-type(3) {
		  -webkit-animation-delay:9s;
		  -moz-animation-delay:9s;
		  -o-animation-delay:9s;
		  animation-delay:9s;
		}
		#container-background img:nth-of-type(4) {
		  -webkit-animation-delay: 0;
		  -moz-animation-delay: 0;
		  -o-animation-delay: 0;
		  animation-delay: 0;
		}