/*
meng overide semua css di moblie device
*/
@media screen and (max-width: 767px) {
  /*#container-background{display: none;}*/
  body{
    overflow: scroll !important;
  } 
  table#dynamic-table th{
    font-size:12px;
  }

  #headerArea {
    
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-brand {
    float: none;
    width: unset;
    font-size: unset;
    line-height: 1;
    padding: 0;
  }
  .navbar-brand img {
    width: 100%;
  }
  .info{
    font-size: 12px;
  }
  .contentarea{
    margin: 0;
    
  }
  .navbar-title h4 {
    font-size: 14px;
    text-shadow: none;
  }
  .navbar-title h5 {
    font-size: 11px;
    margin-top: 0;
  }
  #Date{
    text-transform: uppercase;
  }
  #Date, #hours, #min {
    font-family: Helvetica;
    font-size: 12px;
    text-align: left;
    text-shadow: none;
  }
  #point {
    font-size: 12px;
    padding:0;
  }
  .hrhead{ border-bottom: 1px solid #f5f5f5;}
  .ratakanan{text-align: right;}
  .header-th{font-size: 12px;}
  table#dynamic-table td { 
    font-size: 12px; 
    font-family: Helvetica;
    line-height: 1.1
  }
  table#dynamic-table td.disposisi {
    font-size: 12px;
  }

  #footer{
    clear: both;
    position: fixed;
    top: 93%;
  }

  .footer_area p{
    font-size: 12px;
  }
}