.skdslider{
 width:100%;
 position: relative;
 display: block;
 overflow:hidden;
}

.skdslider:after {
    content: '';
    padding-top: 50%; 
    display: block;
}

.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}
.skdslider ul.slides li
{
   display: none;
}
.skdslider ul.slides li img{
    width: 65%;
	height:10%;
	border:0;
}

.skdslider ul.slide-navs {
    bottom: 20px;
    left: 50%;
    position: absolute;
	list-style-type: none;
    margin: 0;
    padding: 0;
}


.skdslider ul.slide-navs li {
    float: left;
	/*background: url("image/slide-bg.png") no-repeat scroll 0 0 transparent;*/
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider ul.slide-navs li.current-slide {
  /*background: url("image/slide-bg-active.png") no-repeat scroll 0 0 transparent;*/
}

.skdslider .slide-desc {
  background: url("image/slide_desc.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  max-width: 25%;
  padding: 5px;
  position: absolute;
  text-align: center;
  right: 0;
  left: 75%;
  top: 5%;
}

.skdslider .slide-desc > h1 {
  color: #FFD200;
  font-family: 'Roboto-Thin';
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 106px;
  padding: 10px;
}

.skdslider .slide-desc > p {
    color: #FFFFFF;
    font-family: 'Roboto-Thin';
    font-size: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding: 10px;
}
.skdslider .slide-desc > p a.more {
    color:#990000;
	font-size:20px;
	text-decoration:none;
}
.skdslider .slide-desc > p a.more:hover {
text-decoration:underline;
}

.skdslider a.prev{
    background: url("image/left.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:2%;
	margin-top:-17px;
}

.skdslider a.next{
    background: url("image/right.png") no-repeat scroll 0 0 transparent;
	width:35px;
	height:35px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:2%;
	margin-top:-17px;
}
.skdslider a.prev:hover{
  
}
.skdslider a.next:hover{
  
}

.skdslider a.play{
    background: url("image/play.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}

.skdslider a.pause{
    background: url("image/pause.png") no-repeat scroll center center transparent;
	width:35px;
	height:35px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:48%;
	margin-top:-17px;
}
/*Some Responsive CSS */
@media screen and (max-width:767px) {
	.skdslider .slide-desc > h2 {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	.skdslider .slide-desc > p {
		font-size: 14px;
		line-height: 15px;
		margin-top: 5px;
	}
	.skdslider .slide-desc > p a.more {
		font-size:14px;
	}
}